[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/aragonOS"]
	path = lib/aragonOS
	url = https://github.com/aragon/aragonOS
	branch = v4.4.0
